.split {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.split > div {
    width: 50%;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
