.three-parts {
    width: 100%;

    .parts {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;

        > div {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
