:root {
  --sd-background-color: #FFFFFF;
  --sd-heading-color: #00B9FF;
  --sd-text-color: #222333;
  --sd-primary-color: #8DC63F;
}

.sd-slide::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url(snowcamp.jpg);
  background-position: right 2vw bottom 2vh;
  background-repeat: no-repeat;
  background-size: 10vw;
  opacity: 0.25;
  z-index: -1;
}

.sd-slide.cover {
  background-color: #2E2841;
}

.sd-slide.cover::after {
  background-image: url(alpes-snow-full-illustration.webp);
  opacity: 0.75;
}

.split .content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.split .content > div {
  width: 50%;
  padding: 1vh 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-top {
  display: block;
}

.text-left {
  align-items: start;

  h2 {
    text-align: left;
  }
}
