:root {
  --sd-background-color: rgb(249, 249, 249);
  --sd-heading-color: rgba(46, 40, 65, 0.9);
  --sd-text-color: #333;
  --sd-primary-color: #8DC63F;
}

.sd-slide::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url(snowcamp.jpg);
  background-position: right 2vw bottom 2vh;
  background-repeat: no-repeat;
  background-size: 10vw;
  opacity: 0.25;
  z-index: -1;
}

.sd-slide.cover::after {
  background-color: #2E2841;
  background-image: url(alpes-snow-full-illustration.webp);
  height: 10vh;
  bottom:0;
  top: auto;
  opacity: 0.90;
}

.speaker {
  margin: 3vh;

  figure.speaker-photo {
    float: right;
    margin-left: 2vw;
    width: 25%;

    img {
      border-radius: 100%;
      width: 100%;
    }
  }

  ul {
    list-style-type: none;

    li {
      margin-bottom: 1vh;
    }
  }
}

.speaker:only-child {
  margin: 5vh;
}

.speaker::after {
  clear: right;
}

.split .content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.split .content > div {
  width: 50%;
  padding: 0 1vw;
  display: block;
}

.title-top {
  display: block;
}

.text-left {
  align-items: start;

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }
}

li p {
  text-align: justify;
}
