:root {
    --sd-background-color: #f1ddb6;
    --sd-heading-color: #551b7e;
    --sd-text-color: #192811;
    --sd-primary-color: #800016;
}

.sd-slide::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url(devquest.svg);
    background-position: right 2vw bottom 2vh;
    background-repeat: no-repeat;
    background-size: 10vw;
    opacity: 0.5;
    z-index: -1;
}

.cover {
    background-color: var(--sd-primary-color);

    h1,
    h2 {
        color: var(--sd-background-color);
    }
}
